.whatsapp-container {
  .float-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 15px;
    background-color: var(--bg-color1);
    text-align: center;
    color: white;
    padding: 10px 0;
  }
  .float-icons {
    color: #ffffff;
    top: calc(97% - 130px);
    left: calc(97% - 56px);
    position: fixed;
    z-index: 100;
    display: flex;
    gap: 15px;
    // gap: 10px;
    flex-direction: column;

    button {
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      img {
        width: 56px;
        height: 56px;
        // margin: 10px;
      }
      i {
        top: calc(97% - 140px);
        left: calc(97% - 56px);
        position: fixed;
        font-size: 56px;
        color: #fff;
      }
    }
    .whatsapp-popup {
      position: fixed;
      bottom: 160px;
      right: 40px;
      // height: 310px;
      width: 250px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: var(--bg-color1);
      .details {
        display: flex;
        align-items: center;
        gap: 20px;
        .img {
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50%;
          background-color: white;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          color: white;
          font-size: 14px;
          margin-bottom: 0;
          text-align: center;
        }
      }
      .qr_code {
        display: flex;
        width: 100%;
        // height: 100%;
        padding: 10px;
        background-color: white;
        img {
          width: 100%;
          // height: 100%;
        }
      }
      p {
        color: white;
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
        a {
          color: white;
          text-decoration: none;
          font-size: 14px;
          // font-family: var(--font_bebas_neue);
          transition: all 0.2s ease-in-out;
        }
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
  .nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .hero-section {
    min-height: 100vh;
    background: url("../../../../assets/images/img_8.jpg") no-repeat center center;
    // filter: brightness(0.5);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //   gap: 50px;
    position: relative;
    padding: 0 200px;
    @media screen and (max-width: 1200px) {
      padding: 0 100px;
    }
    @media screen and (max-width: 902px) {
      padding: 0 50px;
    }
    @media screen and (max-width: 576px) {
      padding: 100px 20px;
    }
    p {
      font-size: 20px;
      text-align: center;
      color: white;
      text-align: center;
      @media screen and (max-width: 786px) {
        font-size: 18px;
      }
    }
    h2 {
      // font-family: var(--font_bebas_neue);
      color: white;
      font-size: 40px;
      margin-bottom: 20px;
      @media screen and (max-width: 786px) {
        font-size: 30px;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 20px;
      button {
        border: none;
        background-color: var(--text-color1);
        font-weight: 500;
        color: black;
        width: 250px;
        padding: 8px 25px;
        text-align: center;
      }
    }
  }

  .content-container {
    background-color: var(--text-color1);
    padding: 50px 100px;
    color: black;
    @media screen and (max-width: 1200px) {
      padding: 50px 50px;
    }
    @media screen and (max-width: 786px) {
      padding: 50px 30px;
    }
    @media screen and (max-width: 486px) {
      padding: 50px 20px;
    }
    .section {
      h2 {
        font-size: 25px;
        padding: 20px 0;
        // font-family: var(--font_bebas_neue);
        text-align: center;
      }
      span {
        color: black;
      }
      p {
        text-align: center;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding: 0;
        li {
          border: 2px solid black;
          border-radius: 8px;
          width: 400px;
          list-style-type: none;
          padding-bottom: 5px;
          padding: 20px;

          span {
            font-weight: 600;
            font-size: 15px;
          }
        }
      }
    }
    .buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      margin-top: 40px;

      button {
        border: none;
        background-color: var(--bg-color2);
        color: black;
        padding: 8px 25px;
        text-align: center;
        p {
          margin: 0;
          color: white;
        }
      }
    }
  }
}
