<app-cookieconsent></app-cookieconsent>
<div class="landing-container">
  <div class="float-footer">
    100% AI Platform that Fully Runs your Marketing to Deliver Superior Results
  </div>

  <div class="float-icons">
    <button (click)="SwitchWhatsappState()">
      <img
        src="assets/images/whatsapp_icon.png"
        alt=""
        *ngIf="!activeWhatsapp"
      />
      <i class="bi bi-x-circle" *ngIf="activeWhatsapp"></i>
    </button>

    <div class="whatsapp-popup" *ngIf="activeWhatsapp">
      <div class="details">
        <div class="img">
          <img src="assets/images/logo.png" alt="" />
        </div>
        <p>
          Welcome to Zyper.Ai <br />
          Scan the QR code
        </p>
      </div>
      <div class="qr_code">
        <img src="assets/images/zyper.png" alt="" />
      </div>
      <p>
        <span> OR</span> <br />
        <a
          href="https://wa.me/+919266373451"
          class="text-decoration-underline"
          target="_blank"
          >click here to start chat</a
        >
      </p>
    </div>
  </div>
  <div class="nav-container">
    <app-navbar-two></app-navbar-two>
  </div>
  <div class="hero-container">
    <video autoplay loop>
      <source src="../../assets/bg.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="hero-content">
      <h2 data-aos="zoom-in" data-aos-duration="1000">Zyper.ai</h2>
      <p class="are_you">Are You?</p>
      <div class="flexd">
        <div class="cardd">
          <p>
            SMB looking for full service marketing agency at a reasonable cost
            and with complete reliability?
          </p>
          <div class="buttons">
            <button
              routerLink="/smb"
              data-aos="zoom-in"
              data-aos-duration="1500"
            >
              SMB
            </button>
          </div>
        </div>
        <div class="cardd">
          <p>
            An Agency Wanting to Do Great Work, Execute Flawlessly and Save
            Time?
          </p>
          <div class="buttons">
            <button
              routerLink="/agency"
              data-aos="zoom-in"
              data-aos-duration="1500"
            >
              Agency
            </button>
          </div>
        </div>
        <div class="cardd">
          <p>
            A Freelancer looking to expand suite of services? Save Manual effort
            and valuable time?
          </p>
          <div class="buttons">
            <button
              routerLink="/freelancer"
              data-aos="zoom-in"
              data-aos-duration="1500"
            >
              Freelancer
            </button>
          </div>
        </div>
      </div>

      <!-- <app-floating-arrow
        (click)="scrollToSection('focus-container')"
      ></app-floating-arrow> -->
    </div>
  </div>
  <!-- <div class="focus-container" id="focus-container">
    <div class="content">
      <h2 data-aos="zoom-in" data-aos-duration="1000">
        Focus on Core Business, Leave Marketing to Us
      </h2>
      <p data-aos="fade-right" data-aos-duration="1000">
        Spending soo much time finding and managing agencies, freelancers,
        Designers, PPC & SEO experts? – Zyper consolidates it all for You <br />
        Zyper has all services in one platform – Simply complete business
        profile, enter your budgets and leave the rest to Us
      </p>
      <div class="buttons">
        <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">
          Start Using
        </button>
        <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
      </div>
      <app-floating-arrow
        (click)="scrollToSection('deliver-container')"
      ></app-floating-arrow>
    </div>
  </div>
  <div class="deliver-container" id="deliver-container">
    <h2 data-aos="zoom-in" data-aos-duration="1000">
      Delivers upto 100% Better Return on Paid Marketing Investment
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
      Zyper AI self optimizes RoI using entire suite of optimization tools
      available with Google, Facebook, Instagram, Tiktok and Listings to deliver
      enterprise grade performance to even the smallest of Businesses
    </p>
    <div class="buttons">
      <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">
          Start Using
        </button>
      <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
    </div>
    <app-floating-arrow
      (click)="scrollToSection('quickest-container')"
    ></app-floating-arrow>
  </div>
  <div class="quickest-container" id="quickest-container">
    <h2 data-aos="zoom-in" data-aos-duration="1000">
      Quickest Website Build and Business Listings Setup for New Businesses &
      Startups
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
      Complete your profile in 30 minutes and Zyper generates Your website, that
      is ready to host within 24 hours. It enables your google business
      listings, Google maps listings and all other listings to make your
      business discoverable - Immediately. No need to set up multiple accounts
      and logins, everything enabled through a single login
    </p>
    <div class="buttons">
      <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">
          Start Using
        </button>
      <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
    </div>
    <app-floating-arrow
      (click)="scrollToSection('cross-container')"
    ></app-floating-arrow>
  </div>
  <div class="cross-container" id="cross-container">
    <h2 data-aos="zoom-in" data-aos-duration="1000">
      Cross Channel Optimization of Budgets
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
      Zyper uses ML models to automatically direct your marketing budget towards
      the highest performing paid channels for your industry and geography. It
      is able to decide how much of your marketing budget to put on Instagram or
      Google based on advanced machine learning models, to deliver maximum
      impact
    </p>
    <div class="buttons">
      <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">
          Start Using
        </button>
      <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
    </div>
    <app-floating-arrow
      (click)="scrollToSection('best-container')"
    ></app-floating-arrow>
  </div> -->
  <!-- <div class="best-container" id="best-container">
    <h2 data-aos="zoom-in" data-aos-duration="1000">
      Best Designs and Creatives, Tailored to Your Target Audience and Customers
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
      Zyper APIs link to the largest stock designs, images and template
      databases worldwide to discover and embed creative designs tailored to
      your target customers, demographics and messaging throughout your social
      media, business listings and paid marketing campaigns
    </p>
    <div class="buttons">
      <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">
          Start Using
        </button>
      <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
    </div>
  </div> -->

  <app-footer></app-footer>
</div>
