.landing-container {
  font-family: var(--font_mona_sans);
  position: relative;
  .float-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 15px;
    background-color: var(--bg-color1);
    text-align: center;
    color: white;
    padding: 10px 0;
  }
  .float-icons {
    color: #ffffff;
    top: calc(97% - 130px);
    left: calc(97% - 56px);
    position: fixed;
    z-index: 100;
    display: flex;
    gap: 15px;
    // gap: 10px;
    flex-direction: column;

    button {
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      img {
        width: 56px;
        height: 56px;
        // margin: 10px;
      }
      i {
        top: calc(97% - 140px);
        left: calc(97% - 56px);
        position: fixed;
        font-size: 56px;
        color: #fff;
      }
    }
    .whatsapp-popup {
      position: fixed;
      bottom: 160px;
      right: 40px;
      // height: 310px;
      width: 250px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: var(--bg-color1);
      .details {
        display: flex;
        align-items: center;
        gap: 20px;
        .img {
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50%;
          background-color: white;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          color: white;
          font-size: 14px;
          margin-bottom: 0;
          text-align: center;
        }
      }
      .qr_code {
        display: flex;
        width: 100%;
        // height: 100%;
        padding: 10px;
        background-color: white;
        img {
          width: 100%;
          // height: 100%;
        }
      }
      p {
        color: white;
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
        a {
          color: white;
          text-decoration: none;
          font-size: 14px;
          // font-family: var(--font_bebas_neue);
          transition: all 0.2s ease-in-out;
        }
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
  .nav-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .hero-container {
    min-height: 100vh;
    width: 100%;
    // background-color: gray;
    position: relative;

    

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    .hero-content {
      //   padding-top: 80px;
      padding: 0 20px;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      //   gap: 10px;
      // color: var(--accent-color2);
      color: white;
      position: relative;
      z-index: 2;
     
      @media screen and (max-width: 576px){
        padding: 100px 20px;
      }

      h2 {
        font-size: 60px;
        margin-bottom: 20px;
        font-weight: 600;
        // color: black;
        // color: darkblue;`
        // text-transform: uppercase;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      p {
        font-size: 22px;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        // span {
        //   color: var(--accent-color1);
        // }
        @media screen and (max-width: 1200px) {
          font-size: 20px;
        }
        @media screen and (max-width: 576px) {
          font-size: 16px;
        }
      }

      .buttons {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
          background-color: var(--bg-color2);
          color: var(--white-color);
          padding: 10px;
          width: 250px;
          border: none;
          outline: none;
          cursor: pointer;
          transition: all 0.3s ease;
          box-shadow: 0 0 10px var(--accent-color1);
          // &:hover {
          //   background-color: var(--accent-color1);
          //   color: var(--text-color2);
          // }
        }
      }
    }
  }
  .focus-container {
    background: url("../../../assets/images/img_2.jpg") no-repeat center;
    background-size: cover;
    .content {
      // backdrop-filter: blur(1px);
      padding: 0 20px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: white;
      gap: 20px;
      position: relative;

      @media screen and (max-width: 576px){
        padding: 100px 20px;
      }

      h2 {
        // font-family: var(--font_bebas_neue);
        font-size: 40px;
        // color: var(--primary-color);
        text-align: center;
        @media screen and (max-width: 650px) {
          font-size: 30px;
        }
      }
      p {
        max-width: 1000px;
        text-align: center;
        font-size: 25px;
        @media screen and (max-width: 1200px) {
          font-size: 20px;
        }
        @media screen and (max-width: 576px) {
          font-size: 16px;
        }
        // color: white;
      }
      .buttons {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        button {
          background-color: var(--bg-color2);
          color: var(--white-color);
          padding: 10px;
          width: 250px;
          border: none;
          outline: none;
          cursor: pointer;
          transition: all 0.3s ease;
          box-shadow: 0 0 10px var(--accent-color1);
          // &:hover {
          //   background-color: var(--accent-color1);
          //   color: var(--text-color2);
          // }
        }
      }
    }
  }
  .deliver-container {
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    background: url("../../../assets/images/img_3.jpg") no-repeat center;
    background-size: cover;
    gap: 20px;
    position: relative;

    @media screen and (max-width: 576px){
      padding: 100px 20px;
    }

    h2 {
      // font-family: var(--font_bebas_neue);
      font-size: 40px;
      // color: var(--primary-color);
      text-align: center;
      @media screen and (max-width: 650px) {
        font-size: 30px;
      }
    }
    p {
      text-align: center;
      max-width: 1000px;
      font-size: 25px;

      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      // color: white;
    }
    .buttons {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      button {
        background-color: var(--bg-color2);
        color: var(--white-color);
        padding: 10px;
        width: 250px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px var(--accent-color1);
        // &:hover {
        //   background-color: var(--accent-color1);
        //   color: var(--text-color2);
        // }
      }
    }
  }
  .quickest-container {
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../../assets/images/img_4.jpg") no-repeat center;
    background-size: cover;
    color: white;
    gap: 20px;
    position: relative;

    @media screen and (max-width: 576px){
      padding: 100px 20px;
    }

    h2 {
      // font-family: var(--font_bebas_neue);
      font-size: 40px;
      // color: var(--primary-color);
      text-align: center;

      @media screen and (max-width: 650px) {
        font-size: 30px;
      }
    }
    p {
      max-width: 1000px;
      text-align: center;
      font-size: 25px;

      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      // color: white;
    }
    .buttons {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      button {
        background-color: var(--bg-color2);
        color: var(--white-color);
        padding: 10px;
        width: 250px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px var(--accent-color1);
        // &:hover {
        //   background-color: var(--accent-color1);
        //   color: var(--text-color2);
        // }
      }
    }
  }
  .cross-container {
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../../assets/images/img_5.jpg") no-repeat center;
    background-size: cover;
    gap: 20px;
    color: white;
    position: relative;

    @media screen and (max-width: 576px){
      padding: 100px 20px;
    }

    h2 {
      // font-family: var(--font_bebas_neue);
      font-size: 40px;
      // color: var(--primary-color);
      // color: black;
      text-align: center;
      @media screen and (max-width: 650px) {
        font-size: 30px;
      }
    }
    p {
      max-width: 1000px;
      text-align: center;
      font-size: 25px;
      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      // color: black;
    }
    .buttons {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      button {
        background-color: var(--bg-color2);
        color: var(--white-color);
        padding: 10px;
        width: 250px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px var(--accent-color1);
        // &:hover {
        //   background-color: var(--accent-color1);
        //   color: var(--text-color2);
        // }
      }
    }
  }
  .best-container {
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("../../../assets/images/img_6.jpg") no-repeat center;
    background-size: cover;

    gap: 20px;
    position: relative;

    @media screen and (max-width: 576px){
      padding: 100px 20px;
    }

    h2 {
      // font-family: var(--font_bebas_neue);
      font-size: 40px;
      // color: var(--primary-color);
      text-align: center;
      // color: black;
      @media screen and (max-width: 650px) {
        font-size: 30px;
      }
    }
    p {
      max-width: 1000px;
      text-align: center;
      font-size: 25px;
      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      // color: black;
      // color: white;
    }
    .buttons {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      button {
        background-color: var(--bg-color2);
        color: var(--white-color);
        padding: 10px;
        width: 250px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px var(--accent-color1);
        // &:hover {
        //   background-color: var(--accent-color1);
        //   color: var(--text-color2);
        // }
      }
    }
  }
  .about-product-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    h2 {
      color: black;
      // font-family: var(--font_bebas_neue);
      font-size: 40px;
      span {
        color: var(--text-color1);
      }
    }
    .product-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .cards {
        width: 500px;
        height: auto;
        padding: 40px;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
        .top {
          display: flex;
          align-items: center;
          h3 {
            font-size: 20px;
            color: black;
            // font-family: var(--font_bebas_neue);
          }
          img {
            width: 50px;
            margin-right: 20px;
          }
        }
        .footer {
          button {
            background-color: black;
            outline: none;
            border: none;
            color: white;
            padding: 8px 30px;
          }
        }
      }
    }
  }
}

app-floating-arrow {
  cursor: pointer;
}

.flexd{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.cardd{
  width: 30%;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
  p{
    font-size: 14px !important;
  }
}