@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == "medium" {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == "large" {
    @media (max-width: 992px) {
      @content;
    }
  }
}

.resources-fourteenth-container {
  width: 100%;
  background-color: #d7e6ff;
}

.resources-fourteenth-section {
  width: 100%;
  margin-top: 3rem;

  @include respond-to("small") {
    padding: 1.5rem;
  }

  .intro-text {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #333;
    background-color: inherit;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    text-align: left;
    padding: 3rem 3.75rem;

    @include respond-to("small") {
      font-size: 1rem;
      padding: 1rem;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(9, minmax(120px, 150px));
    gap: 10px;
    padding-bottom: 1rem;
    width: 100%;
    place-content: center;
    overflow-x: auto;
    .grid-header,
    .grid-item {
      padding: 1rem;
      text-align: left;
      min-width: 120px;
    }

    .grid-header {
      background-color: #7a7ccb;
      font-weight: 600;
      font-size: 1.125rem;
      color: white;
      text-align: center;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .grid-item {
      background-color: #d9d9d9;
    }

    @include respond-to("medium") {
      .grid-header,
      .grid-item {
        font-size: 0.875rem;
        padding: 0.75rem;
      }
    }
  }

  .key-insights {
    background-color: inherit;
    padding: 2rem 3.75rem;
    border-radius: 8px;
    margin-top: 2rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    ul {
      list-style-type: disc;
      padding-left: 1.5rem;

      li {
        margin-bottom: 0.75rem;
        line-height: 1.6;
        .bold-text {
          font-weight: bold;
        }
      }
    }

    @include respond-to("small") {
      padding: 1.5rem;

      h3 {
        font-size: 1.25rem;
      }

      ul li {
        font-size: 0.875rem;
      }
    }
  }
}
