<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="footer-products">
      <div class="footer-products-lists">
        <a routerLink="/services/performance">
          <div class="product">
            <img src="assets/images/icons/user-profile.png" alt="" />
            <p class="text">Performance Marketing and PPC Ads</p>
          </div>
        </a>
        <a routerLink="/services/social-media">
          <div class="product">
            <img src="assets/images/icons/social-media.png" alt="" />
            <p class="text">Social Media Generation & Management</p>
          </div>
        </a>
        
        <a routerLink="/services/bussiness">
          <div class="product">
            <img src="assets/images/icons/bussiness.png" alt="" />
            <p class="text">Business Listings</p>
          </div>
        </a>
        <a routerLink="/services/whatsapp-marketing">
          <div class="product">
            <img src="assets/images/icons/whatsapp.png" alt="" />
            <p class="text">Whatsapp Generation Management and Marketing</p>
          </div>
        </a>
        <a routerLink="/services/email-marketing">
          <div class="product">
            <img src="assets/images/icons/email-marketing.png" alt="" />
            <p class="text">Email Generation management & Marketing</p>
          </div>
        </a>
        
        <!-- <a href="">
          <div class="product">
            <img src="assets/images/icons/ads.png" alt="" />
            <p class="text">Paid Ads Campaigns & Management</p>
          </div>
        </a> -->
        
        
        
        <a routerLink="/services/website-build">
          <div class="product">
            <img src="assets/images/icons/website.png" alt="" />
            <p class="text">Website Generation</p>
          </div>
        </a>
        <a routerLink="/services/seo">
          <div class="product">
            <img src="assets/images/icons/seo.png" alt="" />
            <p class="text">SEO - Search engine marketing</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="links">
    <div class="links-container text-start mt-4">
      <!-- Grid column -->

      <div class="mb-3 d-flex flex-column">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold">Company</h6>
        <p>
          <a routerLink="/about" class="text-reset">Our Story </a>
        </p>
        <p>
          <a routerLink="/about" class="text-reset">Our Mission </a>
        </p>
        <p>
          <a routerLink="/contact" class="text-reset">Contact Us</a>
        </p>
        <p>
          <a routerLink="/knowledge-center" class="text-reset"
            >Knowledge Center</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="mb-3">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold">CUSTOMERS</h6>
        <p>
          <a href="#!" class="text-reset">Customer Support Chat</a>
        </p>
        <p>
          <a routerLink="/contact" class="text-reset"
            >Customer Support Email
          </a>
        </p>
        <p>
          <a
            href="https://wa.me/+919667238666"
            target="_blank"
            class="text-reset"
            >Customer Support Number
          </a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- <div class="mb-3">
        <video width="220" autoplay="true" loop>
          <source src="assets/bg.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div> -->
      <!-- Grid column -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- social media links -->
  <section class="social-media">
    <span class="line"></span>
    <div class="icons">
      <a
        style="text-decoration: none"
        href="https://www.facebook.com/profile.php?id=61559100520560"
        ><i class="bi bi-facebook"></i
      ></a>
      <a style="text-decoration: none" href="https://twitter.com/zyper_ai"
        ><i class="bi bi-twitter"></i
      ></a>
      <a
        style="text-decoration: none"
        href="https://www.youtube.com/channel/UC-PlQrenBmtuXBgqWLTTrig"
        ><i class="bi bi-youtube"></i
      ></a>
      <a
        style="text-decoration: none"
        href="https://www.instagram.com/zyper.ai/"
        ><i class="bi bi-instagram"></i
      ></a>
      <a
        style="text-decoration: none"
        href="https://www.linkedin.com/in/zyper-ai/"
        ><i class="bi bi-linkedin"></i
      ></a>
    </div>
    <span class="line"></span>
  </section>
  <!-- social media links -->

  <!-- Copyright -->
  <div class="copyright text-center pt-3">
    <p>Copyright © 2024 ZYPER.AI</p>
  </div>
  <!-- Copyright -->

  <div class="others">
    <a routerLink="/legal">Legal Stuff</a>
    <span class="vline"></span>
    <a routerLink="/privacy">Privacy Policy</a>
    <span class="vline"></span>
    <a routerLink="/cancellation and refund policy"
      >Cancellation & Refund Policy</a
    >
  </div>
</footer>
<!-- Footer -->
