<div class="legal-container">
  <div class="float-footer">
    Delivering Generative AI Marketing Performance To Small Businesses Worldwide
  </div>
  <div class="float-icons">
    <button (click)="SwitchWhatsappState()">
      <img
        src="assets/images/whatsapp_icon.png"
        alt=""
        *ngIf="!activeWhatsapp"
      />
      <i class="bi bi-x-circle" *ngIf="activeWhatsapp"></i>
    </button>
    <i class="bi bi-chat" style="filter: opacity(0);"></i>
    <div class="whatsapp-popup" *ngIf="activeWhatsapp">
      <div class="details">
        <div class="img">
          <img src="assets/images/logo.png" alt="" />
        </div>
        <p>
          Welcome to Zyper.Ai <br />
          Scan the QR code
        </p>
      </div>
      <div class="qr_code">
        <img src="assets/images/zyper.png" alt="" />
      </div>
      <p>
        <span> OR</span> <br />
        <a
          href="https://wa.me/+919667238666"
          class="text-decoration-underline"
          target="_blank"
          >click here to start chat</a
        >
      </p>
    </div>
  </div>
    <div class="legal-navbar">
        <app-navbar-two></app-navbar-two>
    </div>
  <div class="legal-header">
    <h3>Legal Stuff</h3>
    <p>Legal Disclaimers and Protection for Zyper.ai</p>
  </div>
  <div class="legal-content">
    <div class="introduction legal">
      <h4>Introduction</h4>
      <p>
        Welcome to Zyper.ai. Our services leverage advanced artificial
        intelligence. By accessing and using our platform, you agree to comply
        with these legal disclaimers and terms of use.
      </p>
    </div>
    <div class="legal">
      <h4>Acceptance of Terms</h4>
      <p>
        Your access to and use of [Platform Name] is conditioned upon your
        acceptance of and compliance with these terms. If you do not agree to
        these terms, you may not access or use the service.
      </p>
    </div>
    <div class="legal">
      <h4>Global Use and Compliance</h4>
      <p>
        <span>International Use:</span>
        Zyper.ai is accessible to users worldwide. You are responsible for
        ensuring that your use of our services complies with all local laws and
        regulations.
      </p>
      <p>
        You agree to comply with all export and re-export restrictions and
        regulations of the applicable jurisdictions in connection with your use
        of Zyper.ai
      </p>
    </div>
    <div class="legal">
      <h4>Intellectual Property Rights</h4>
      <p>
        The technologies, content, and all material appearing on Zyper.ai are
        protected by intellectual property laws and are owned by or licensed to
        Zyper.ai Inc. Unauthorized use may violate copyright and trademark laws.
      </p>
    </div>
    <div class="legal">
      <h4>Use of Service</h4>
      <p>
        You are granted a limited, non-exclusive, non-transferable, revocable
        license to access and use Zyper.ai strictly in accordance with these
        terms.
      </p>
    </div>
    <div class="legal">
      <h4>AI-Specific Terms</h4>
      <p>
        <span>Data Handling:</span>
        Data inputted by users will be handled according to our Privacy Policy
        and used solely for service operation and improvement.
      </p>
      <p>
        <span>Output Accuracy:</span>
        Outputs from AI processes are not guaranteed to be accurate or suitable
        for all purposes. Users must independently verify all AI-generated
        outputs.
      </p>
    </div>
    <div class="legal">
      <h4>Limitation of Liability and Indemnity</h4>
      <p>
        <span>Limitations:</span>
        Zyper.ai will not be liable for any direct, indirect, incidental,
        special, consequential or exemplary damages, including damages for loss
        of profits, goodwill, use, or data.
      </p>
      <p>
        <span>Indemnity:</span>
        You agree to indemnify and hold harmless Zyper.ai, its officers,
        directors, employees, and agents, from any claims, damages, obligations,
        losses, liabilities, costs or debt, and expenses arising from your use
        of the service, your violation of these terms, or your violation of any
        rights of a third party.
      </p>
    </div>
    <div class="legal">
      <h4>Modifications to Terms</h4>
      <p>
        We reserve the right to modify or replace these terms at any time at our
        sole discretion.
      </p>
    </div>
    <div class="legal">
      <h4>Governing Law and Jurisdiction</h4>
      <p>
        These terms shall be governed by the laws of United States or India,
        without regard to its conflict of law provisions. Any disputes arising
        from these terms will be resolved exclusively in the courts of United
        States or India.
      </p>
    </div>
    <div class="legal">
      <h4>Contact Us</h4>
      <p>
        For any inquiries or concerns about our terms or services, please
        contact us at
        <a href="mailto:contactus@zyper.ai">contactus&#64;zyper.ai</a>
      </p>
    </div>
  </div>
  <div class="legal-footer">
    <app-footer></app-footer>
  </div>
</div>
