.ai-technology {
  background-color: var(--text-color1);
  font-family: var(--font_mona_sans);

  .ai-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .content {
    width: 100%;
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 20px 0 20px;

      h1 {
        font-family: var(--font_mona_sans);
        font-weight: 600;
        font-size: 45px;

        @media screen and (max-width: 768px) {
          font-size: 35px;
        }
        @media screen and (max-width: 480px) {
          font-size: 25px;
        }
      }
      p {
        font-size: 20px;
        font-weight: 500;
        // color: var(--text-color2);
        // margin-top: 10px;
        text-align: center;

        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
        @media screen and (max-width: 480px) {
          font-size: 16px;
        }
      }
      img {
        width: 100%;
        padding: 20px;
      }
      a {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        background-color: var(--bg-color1);
        padding: 10px 40px;
        color: var(--white-color);
        margin-bottom: 40px;
      }
    }
    .smb {
      display: flex;
      flex-direction: column;
      align-items: center;
      // padding-top: 100px;
      padding: 20px;
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: var(--text-color2);
      }
      p {
        font-size: 20px;
        font-weight: 500;
        // color: var(--text-color2);
        // margin-top: 10px;
        text-align: center;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
        @media screen and (max-width: 480px) {
          font-size: 16px;
        }
      }
      img {
        width: 100%;
        padding: 20px;
      }
      a {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        background-color: var(--bg-color1);
        padding: 10px 40px;
        color: var(--white-color);
        margin-bottom: 40px;
      }
    }
  }
}
