.resources-sixth-container {
  background-color: #d7e6ff;

  .common-section-structure {
    max-width: 1920px;
    width: 100%;
    background-color: #d7e6ff;
    padding: 6.5rem 4rem 0 4rem;

    .intro {
      p {
        font-size: 1.3rem;
        padding-left: 1.2rem;
      }
    }

    .common-section-title {
      width: 75%;
      font-size: 4rem;
      padding-left: 1.2rem;
      margin-bottom: 2rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }

    h6 {
      width: 80% !important;
      max-width: 100%;
      font-size: 1.3rem;
      font-weight: normal;
      padding-left: 1.3rem;
    }

    #case {
      max-width: 100%;
      font-size: 1.3rem;
      font-weight: 700;
      padding-left: 1.3rem;
    }

    .benchmark {
      padding-left: 1.3rem;
      font-weight: 600px !important;
      text-rendering: optimizeLegibility;
      margin-bottom: 0rem !important;
    }
    .benchmark-text {
      padding-left: 1.3rem;
      font-size: 1.3rem;
    }

    .common-section-required-steps {
      width: 100%;
      ol {
        padding-left: 0px !important;
        font-size: 1.3rem;
      }
      li {
        padding-left: 0px !important;
        font-size: 1.3rem;
      }
    }

    .ul-left {
      padding-left: 1.2rem !important;
    }

    .client-success-container {
      .client-success {
        max-width: 100%;
        font-size: 1.3rem;
        font-weight: 700;
        padding-left: 1.3rem;
      }

      .client-success-container-steps {
        padding-left: 0;

        ol {
          width: 85%;
          font-size: 1.3rem;
        }
      }
    }

    .example-trip-container {
      #example-trip {
        max-width: 100%;
        padding-left: 1.3rem;
        font-weight: 700 !important;
      }

      .example-trip-container-steps {
        padding-left: 0;

        ol {
          width: 85%;
          font-size: 1.3rem;
        }
      }
    }
  }

  .section {
    margin-bottom: 3rem;
    padding: 3.5rem 4rem 0 4rem;
    background-color: #d7e6ff;

    &-title {
      width: 80%;
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 1.5rem;
      letter-spacing: 0.5px;
    }

    &-text {
      width: 89%;
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    &-solution {
      width: 80%;
      font-size: 1rem;
      margin-top: 1rem;
      strong {
        font-weight: 700;
      }
    }

    &-list {
      list-style-type: none;
      padding-left: 1rem;
      font-size: 1rem;
      margin-bottom: 1.5rem;

      li::before {
        content: "• ";
        font-weight: bold;
      }
    }

    &-tips {
      .tips-list {
        list-style-type: none;
        padding-left: 1rem;
        font-size: 1rem;
        li {
          margin-bottom: 1rem;

          .example,
          .benchmark,
          .result,
          .outcome {
            font-weight: 700;
          }
        }
      }
    }
    .key-features {
      p {
        font-weight: bold;
        font-size: 1.3rem;
      }
    }
    .client-testimonial {
      font-style: italic;
      p {
        font-size: 1.3rem;
        span {
          font-style: normal !important;
        }
      }
    }
    .amazon-adv-para {
      font-size: 1.3rem;
    }
  }

  .section-challenges,
  .section-roas-tips {
    margin-bottom: 3rem;
    padding: 3.5rem 4rem 0 4rem;
  }
  .section-text {
    font-size: 1.3rem;
  }

  .section-list,
  .tips-list > li {
    font-size: 1.3rem;
  }
  .section-solution {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .resources-sixth-container {
    .common-section-structure {
      padding: 4rem 2rem 0 2rem;

      .common-section-title {
        width: 100%;
        font-size: 2.5rem;
        padding-left: 0.5rem;
        margin-bottom: 1.5rem;
      }

      h6 {
        width: 100% !important;
        padding-left: 0.5rem;
        font-size: 0.875rem;
      }

      .benchmark,
      .benchmark-text,
      .client-success-container .client-success,
      .example-trip-container #example-trip {
        padding-left: 0.5rem;
        font-size: 1.3rem;
      }

      .client-success-container-steps ol,
      .example-trip-container-steps ol {
        width: 100%;
      }
    }

    .section {
      margin-bottom: 2rem;
      padding: 2.5rem 2rem 0 2rem;

      &-title {
        width: 100%;
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      &-text,
      &-solution {
        width: 100%;
        font-size: 0.875rem;
      }

      &-list {
        padding-left: 0.5rem;
        font-size: 0.875rem;
        margin-bottom: 1rem;
      }

      &-tips .tips-list {
        padding-left: 0.5rem;
        font-size: 0.875rem;

        li {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .resources-sixth-container {
    .common-section-structure {
      h6 {
        width: 100% !important;
        padding-left: 0rem !important;
        font-size: 1rem;
      }

      padding: 1.5rem 1rem 1.5rem 1rem;
      .intro {
        p {
          font-size: 1rem;
          padding-left: 0rem !important;
        }
      }

      .common-section-title {
        margin: 4rem 0rem 1rem 0rem;
        font-size: 2.4rem;
        text-align: center;
        font-weight: 800;
        padding-left: 0rem !important;
      }

      .client-success-container {
        .client-success-container-steps > ol {
          width: 100%;
          padding-left: 0rem !important;
          font-size: 1rem !important;
        }
      }

      .example-trip-container {
        #example-trip {
          max-width: 100%;
          font-size: 1.125rem !important;
          padding-left: 0rem !important;
          font-weight: 700 !important;
        }

        .example-trip-container-steps > ol {
          width: 100%;
          padding-left: 0rem !important;
          font-size: 1rem !important;
        }
      }
      #amazon-feed-case {
        padding-left: 0rem;
        font-size: 1.125rem;
        font-weight: 700;
      }
      #Benefits {
        font-size: 1.125rem;
        font-weight: 700;
      }
      .common-section-required-steps > li {
        font-size: 1rem !important;
      }

      #benchmark {
        font-size: 1.125rem;
        font-weight: 700;
        padding-left: 0rem !important;
      }

      .benchmark-text {
        font-size: 1rem !important;
        padding-left: 0rem !important;
      }
    }

    .common-section-structure {
      #case,
      #client-success {
        padding-left: 0rem;
        font-size: 1.125rem;
      }
    }

    .common-section-required-steps {
      padding-left: 0rem;
    }
    .common-section-required-steps > ol {
      font-size: 1rem !important;
    }

    .section-challenges,
    .section-roas-tips {
      margin-bottom: 3rem;
      padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .section-challenges {
      .section-title {
        font-size: 2.4rem !important;
        text-align: center;
        font-weight: 800;
      }

      .section-text {
        font-size: 1rem;
      }

      .section-list {
        padding-left: 0rem !important;
        & > li {
          font-size: 1rem !important;
        }
      }

      .section-solution {
        font-size: 1rem !important;
      }
    }

    .section-roas-tips {
      .section-title {
        font-size: 2.4rem !important;
        text-align: center;
        font-weight: 800;
      }

      .tips-list {
        width: 85%;
        padding-left: 1.4rem !important;
        & > li {
          font-size: 1rem !important;
        }
      }
    }

    .zyper-performance {
      padding: 1.5rem 1rem 1.5rem 1rem;

      .section-title {
        font-size: 2.4rem !important;
        text-align: center;
        font-weight: 800;
      }

      .section-text {
        font-size: 1rem;
      }

      .key-features {
        h4 {
          font-size: 1.125rem;
          font-weight: 700;
        }

        p {
          font-size: 1rem;
        }

        p::before {
          content: "--> ";
        }
      }
      .client-testimonial {
        margin: 4rem 0rem 0rem 0rem;
        padding: 1rem 0rem;

        p {
          font-size: 1rem;
        }
      }
    }

    .amazon-adv {
      padding: 1.5rem 1rem 1.5rem 1rem;
      h1 {
        font-size: 1.6rem;
        font-weight: 700;
      }
      .amazon-adv-para {
        font-size: 1rem;
      }
    }
  }
}
