<div class="resources-eleventh-container">
  <app-top-bar buttonText="GET STARTED"></app-top-bar>
  <app-cookieconsent></app-cookieconsent>

  <div class="float-icons">
    <button (click)="switchWhatsappState()">
      <img
        src="assets/images/whatsapp_icon.png"
        alt=""
        *ngIf="!activeWhatsapp"
      />
      <i class="bi bi-x-circle" *ngIf="activeWhatsapp"></i>
    </button>
    <i class="bi bi-chat" style="filter: opacity(0)"></i>
    <div class="whatsapp-popup" *ngIf="activeWhatsapp">
      <div class="details">
        <div class="img">
          <img src="assets/images/logo.png" alt="" />
        </div>
        <p>
          Welcome to Zyper.Ai <br />
          Scan the QR code
        </p>
      </div>
      <div class="qr_code">
        <img src="assets/images/zyper.png" alt="" />
      </div>
      <p>
        <span> OR</span> <br />
        <a
          href="https://wa.me/+919266373451"
          class="text-decoration-underline"
          target="_blank"
          >click here to start chat</a
        >
      </p>
    </div>
  </div>

  <!-- resources eleventh page HERO SECTION -->
  <app-hero-section
    title="Small Business 
    Marketing Budget 
    Guide."
    description="Allocating the right marketing budget is a critical decision for small businesses. With limited
    resources, every dollar spent
     should bring a meaningful return. The tables below provide
    essential statistics to help small businesses navigate budget planning, 
    optimal channels,
    expected returns on advertising, and profitability impact."
    buttonText="GET STARTED"
    [socialLinks]="[
      { icon: 'instagram', url: 'https://www.instagram.com/zyper_ai/' },
      {
        icon: 'linkedin',
        url: 'https://www.linkedin.com/company/zyper-ai/posts/?feedView=all'
      },
      {
        icon: 'facebook',
        url: 'https://www.facebook.com/people/Zyper-AI/pfbid02YqykNfVMEYU6Q9QaU2PvnJK5GPeeLywvwmTM5np6VYc7KTRMPmheuVUSCzjdC38tl/'
      },
      {
        icon: 'twitter',
        url: 'https://x.com/i/flow/login?redirect_after_login=%2Fzyper_ai'
      }
    ]"
  ></app-hero-section>

  <div class="zyper-ai-container">
    <h1>Zyper.ai generates detailed custom plan with expected performance</h1>
    <div class="table-container">
      <table class="plan-table">
        <thead>
          <tr>
            <th>Channel</th>
            <th>Budget Allocation</th>
            <th>CPL</th>
            <th>Expected Leads</th>
            <th>Goals</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GMB Ads</td>
            <td>600</td>
            <td>5-8</td>
            <td>75-120</td>
            <td>Increase local foot traffic and service inquiries</td>
          </tr>
          <tr>
            <td>Instagram & Facebook Ads</td>
            <td>800</td>
            <td>3-6</td>
            <td>130-265</td>
            <td>
              Build brand awareness, drive appointment bookings, increase social
              media engagement
            </td>
          </tr>
          <tr>
            <td>Google Search Ads</td>
            <td>400</td>
            <td>8-12</td>
            <td>30-50</td>
            <td>
              Capture high-intent searchers ready to book a grooming service
            </td>
          </tr>
          <tr>
            <td>Content Creation and organic social media</td>
            <td>200</td>
            <td>N/A</td>
            <td>Organic Engagement</td>
            <td>Increase brand awareness and engagement</td>
          </tr>
          <tr>
            <td>Email Marketing</td>
            <td>minimal</td>
            <td>N/A</td>
            <td>Repeat Business</td>
            <td>Drive repeat bookings and maintain customer relationships</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
