<app-cookieconsent></app-cookieconsent>
<div class="knowledge-center-container">
  <div class="float-footer">
    100% AI Platform that Fully Runs your Marketing to Deliver Superior Results
  </div>
  <div class="float-icons">
    <button (click)="SwitchWhatsappState()">
      <img
        src="assets/images/whatsapp_icon.png"
        alt=""
        *ngIf="!activeWhatsapp"
      />
      <i class="bi bi-x-circle" *ngIf="activeWhatsapp"></i>
    </button>
    <i class="bi bi-chat" style="filter: opacity(0);"></i>
    <div class="whatsapp-popup" *ngIf="activeWhatsapp">
      <div class="details">
        <div class="img">
          <img src="assets/images/logo.png" alt="" />
        </div>
        <p>
          Welcome to Zyper.Ai <br />
          Scan the QR code
        </p>
      </div>
      <div class="qr_code">
        <img src="assets/images/zyper.png" alt="" />
      </div>
      <p>
        <span> OR</span> <br />
        <a
          href="https://wa.me/+919266373451"
          class="text-decoration-underline"
          target="_blank"
          >click here to start chat</a
        >
      </p>
    </div>
  </div>
  <div class="knowledge-navbar">
    <app-navbar-two></app-navbar-two>
  </div>
  <div class="header">
    <h1>Knowledge Center</h1>
    <p>Company Updates & Technology Articles</p>
  </div>
  <div class="knowledge-center">
    <div class="blog" *ngFor="let blog of blogs; let i = index">
      <div class="date">{{ blog.dateadded }}</div>
      <div class="content">
        <h2 class="title">{{ blog.title }}</h2>
        <img src="https://api.zyper.ai{{ blog.coverphoto }}" alt="" />
        <p class="description" [innerHTML]="blog.content" ></p>
        <a routerLink="/knowledge-center/:{{ blog.id }}" class="read-more"
          >Read More</a
        >
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
