<app-cookieconsent></app-cookieconsent>
<div class="landing-container">
  <div class="float-footer">
    100% AI platform that fully runs your marketing to deliver superior results
  </div>

  <div class="float-icons">
    <button (click)="SwitchWhatsappState()">
      <img
        src="assets/images/whatsapp_icon.png"
        alt=""
        *ngIf="!activeWhatsapp"
      />
      <i class="bi bi-x-circle" *ngIf="activeWhatsapp"></i>
    </button>

    <div class="whatsapp-popup" *ngIf="activeWhatsapp">
      <div class="details">
        <div class="img">
          <img src="assets/images/logo.png" alt="" />
        </div>
        <p>
          Welcome to Zyper.Ai <br />
          Scan the QR code
        </p>
      </div>
      <div class="qr_code">
        <img src="assets/images/zyper.png" alt="" />
      </div>
      <p>
        <span> OR</span> <br />
        <a
          href="https://wa.me/+919266373451"
          class="text-decoration-underline"
          target="_blank"
          >click here to start chat</a
        >
      </p>
    </div>
  </div>
  <div class="nav-container">
    <app-navbar-two></app-navbar-two>
  </div>
  <div class="hero-container">
    <video autoplay loop>
      <source src="../../assets/bg.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="hero-content">
      <h2 data-aos="zoom-in" data-aos-duration="1000">Zyper.ai</h2>
      <p data-aos="fade-right" data-aos-duration="1000">
        Is a cutting edge 100% Generative AI Digital Marketing Platform that fully runs Marketing for your clients, makes intelligent decisions and enhances manual teams
      </p>
      <p data-aos="fade-left" data-aos-duration="1000">
        Zyper optimizes clients’  performance 24x7, 365 days a year, Profitably and Predictably. It Never takes a break – Not on Holidays or post office hours
      </p>
      <p data-aos="fade-right" data-aos-duration="1000">
        Delivers Upto 100% Better Return on Investment on Marketing Spend – Deploys Advanced Optimizations for the Smallest to Biggest clients.
      </p>
      <p data-aos="fade-left" data-aos-duration="1000">
        Offers Free Trial Across All Basic Services
      </p>

      <div class="buttons">
        <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">
          Start Using
        </button>
        <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
      </div>
      <app-floating-arrow
        (click)="scrollToSection('focus-container')"
      ></app-floating-arrow>
    </div>
  </div>
  <div class="focus-container" id="focus-container">
    <div class="content">
      <h2 data-aos="zoom-in" data-aos-duration="1000">
        Focus on Building Trust & Increasing clients: Earn more in same hours, Jack up productivity. Rely on Zyper.ai to do the execution heavy lifting.
      </h2>
      <p data-aos="fade-right" data-aos-duration="1000">
        Spending too much time executing? Zyper consolidates it all. Zyper has all services in one platform – Simply complete client profile, enter their budgets and let it optimize across all marketing services.
      </p>
      <div class="buttons">
        <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">
          Start Using
        </button>
        <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
      </div>
      <app-floating-arrow
        (click)="scrollToSection('deliver-container')"
      ></app-floating-arrow>
    </div>
  </div>
  <div class="focus-container" id="focus-container">
    <div class="content">
      <h2 data-aos="zoom-in" data-aos-duration="1000">
        Delivers Upto 100% Better Return on Paid Ads Investments
      </h2>
      <p data-aos="fade-right" data-aos-duration="1000">
        Zyper AI self-optimizes ROAS (Return on Ad Spend) using entire suite of optimization tools available with Google, Facebook, Instagram, Tiktok and Listings, to deliver enterprise grade performance to even the smallest of Businesses
      </p>
      <div class="buttons">
        <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">
          Start Using
        </button>
        <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
      </div>
      <app-floating-arrow
        (click)="scrollToSection('deliver-container')"
      ></app-floating-arrow>
    </div>
  </div>
  <div class="deliver-container" id="deliver-container">
    <h2 data-aos="zoom-in" data-aos-duration="1000">
        Quickest Website Build and Business Listings Setup for New Businesses & Startups
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
        Complete your profile in 30 minutes and Zyper generates website, that is ready to host within 24 hours. It enables Google business listings, Google maps listings and other  selected listings to make your business discoverable - Immediately. No need to set up multiple accounts and logins, everything enabled through a single login
    </p>
    <div class="buttons">
      <button (click)="navigateToSub()" data-aos="zoom-in" data-aos-duration="1500">
        Start Using
      </button>
      <button routerLink="/demo" data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
    </div>
    <app-floating-arrow
      (click)="scrollToSection('quickest-container')"
    ></app-floating-arrow>
  </div>
  <div class="quickest-container" id="quickest-container">
    <h2 data-aos="zoom-in" data-aos-duration="1000">
        Cross Channel Optimization of Budgets
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
        Zyper uses ML models to automatically direct marketing budgets towards the highest performing paid channels for selected industry and geography. It is able to decide how much of your marketing budget to put on Instagram or Google or other ad platforms,  based on advanced machine learning models, to deliver maximum impact
    </p>
    <div class="buttons">
      <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">
        Start Using
      </button>
      <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
    </div>
    <app-floating-arrow
      (click)="scrollToSection('cross-container')"
    ></app-floating-arrow>
  </div>
  <div class="cross-container" id="cross-container">
    <h2 data-aos="zoom-in" data-aos-duration="1000">
        Superb Designs and Creatives, Tailored to Target Audience and Customers
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
        Zyper APIs link to the largest stock designs, images and template databases worldwide, as well as to AI image & copy  generators, to discover and embed creative, unique designs tailored to your target customers, demographics and messaging, across all your marketing channels
    </p>
    <div class="buttons">
      <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">
        Start Using
      </button>
      <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
    </div>
    <!-- <app-floating-arrow
      (click)="scrollToSection('best-container')"
    ></app-floating-arrow> -->
  </div>
  <!-- <div class="best-container" id="best-container">
    <h2 data-aos="zoom-in" data-aos-duration="1000">
      Best Designs and Creatives, Tailored to Your Target Audience and Customers
    </h2>
    <p data-aos="fade-right" data-aos-duration="1000">
      Zyper APIs link to the largest stock designs, images and template
      databases worldwide to discover and embed creative designs tailored to
      your target customers, demographics and messaging throughout your social
      media, business listings and paid marketing campaigns
    </p>
    <div class="buttons">
      <button routerLink="/login" data-aos="zoom-in" data-aos-duration="1500">
        Start Using
      </button>
      <button href="https://app.zyper.ai"  data-aos="zoom-in" data-aos-duration="1500">Watch Demo</button>
    </div>
  </div> -->

  <app-footer></app-footer>
</div>
