<div class="about-container">
  <app-cookieconsent></app-cookieconsent>
  <div class="float-footer">
    100% AI Platform that Fully Runs your Marketing to Deliver Superior Results
  </div>
  <div class="float-icons">
    <button (click)="SwitchWhatsappState()">
      <img src="assets/images/whatsapp_icon.png" alt="" *ngIf="!activeWhatsapp" />
      <i class="bi bi-x-circle" *ngIf="activeWhatsapp"></i>
    </button>
    <i class="bi bi-chat" style="filter: opacity(0);"></i>
    <div class="whatsapp-popup" *ngIf="activeWhatsapp">
      <div class="details">
        <div class="img">
          <img src="assets/images/logo.png" alt="" />
        </div>
        <p>
          Welcome to Zyper.Ai <br />
          Scan the QR code
        </p>
      </div>
      <div class="qr_code">
        <img src="assets/images/zyper.png" alt="" />
      </div>
      <p>
        <span> OR</span> <br />
        <a href="https://wa.me/+919266373451" class="text-decoration-underline" target="_blank">click here to start
          chat</a>
      </p>
    </div>
  </div>
  <!-- <section class="about-navbar">
    <app-navbar-two></app-navbar-two>
  </section> -->
  <!-- <!-- <app-top-bar></app-top-bar> --> -->
  <section class="commo">
    <section class="header" id="header">
      <div class="left">
        <h1>Our Culture</h1>
        <p>
          Zyper’s culture is nimble ,aware and entirely committed to using
          generative AI technology to help our thousands of customers across the
          world grow better
        </p>
      </div>
      <div class="right">
        <img src="assets/images/about_3.jpg" />
      </div>
    </section>
    <section class="mission-story">
      <div class="mission">
        <div class="left">
          <h2>
            Our Mission: Make Growth Marketing Painless, Seamless and Easily
            Accessible
          </h2>
          <p>
            We want to remove all friction at the vertices of creative design,
            copy content, marketing tools and ad platforms and have a unified
            generative ai driven platform that does not require any technology or
            marketing expertise to use, for our thousands of customers across the
            globe
          </p>
        </div>
      </div>
      <div class="story">
        <div class="right">
          <h2>Our Story</h2>
          <p>
            Swati Gupta, our founder and Carnegie Mellon alum with a Computer Science undergraduate degree, spent over
            10 years
            building her previous eCommerce startup, industrybuying.com. She experienced firsthand the friction when
            trying to
            create a unified, smoothly running marketing machine for digital growth, despite the availability of
            hundreds of
            marketing tools. The friction existed due to creative design, copy editing, marketing tools, and ad
            platforms being
            siloed. With generative AI technology able to generate copy, creatives, and machine learning models able to
            optimize
            performance, she was able to transform marketing into a smooth, efficient, integrated, and lean machine.

          </p>
          <p>
            The conviction that SMBs across the world need the same generative AI-first, seamless marketing
            experience—unfettered by
            hunting for creative designers, integrating tools, searching for performance marketers, and stitching
            together these
            silos—led her to found Zyper.ai [ISTPL Pvt. Ltd.]
          </p>
        </div>
      </div>
    </section>
  </section>
  <!-- <section class="connect">
    <h2>Connect at One of Our Locations</h2>
    <div class="connect-card">
      <div class="cards">
        <div class="top">
          <img src="assets/images/usa.png" alt="" class="icon" />
          <p class="address">
            San Francisco <br />
            166 Geary Str STE 1500 San Francisco, CA 94108 United States
          </p>
        </div>
        <div class="mail">
          <i class="bi bi-envelope"></i> <span>contactus&#64;zyper.ai</span>
        </div>
        <div class="whatsapp">
          <i class="bi bi-whatsapp"></i> <span>+1 331 230 7437</span>
        </div>
      </div>
      <div class="cards">
        <div class="top">
          <img src="assets/images/india.png" alt="" class="icon" />
          <p class="address">
            New Delhi
            <br />
            A4/1 Vasant Vihar , New Delhi 110057
          </p>
        </div>
        <div class="mail">
          <i class="bi bi-envelope"></i> <span>contactus&#64;zyper.ai</span>
        </div>
        <div class="whatsapp">
          <i class="bi bi-whatsapp"></i> <span>+91 9266373451</span>
        </div>
      </div>
    </div>
  </section> -->
  <footer>
    <app-footer></app-footer>
  </footer>
</div>