.landing-container {
  // font-family: var(--font_mona_sans);
  font-family: var(--font_inter);
  position: relative;
  .float-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 15px;
    background-color: var(--bg-color1);
    text-align: center;
    color: white;
    padding: 10px 0;
  }
  .float-icons {
    color: #ffffff;
    top: calc(97% - 130px);
    left: calc(97% - 56px);
    position: fixed;
    z-index: 100;
    display: flex;
    gap: 15px;
    // gap: 10px;
    flex-direction: column;

    button {
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      img {
        width: 56px;
        height: 56px;
        // margin: 10px;
      }
      i {
        top: calc(97% - 140px);
        left: calc(97% - 56px);
        position: fixed;
        font-size: 56px;
        color: #fff;
      }
    }
    .whatsapp-popup {
      position: fixed;
      bottom: 160px;
      right: 40px;
      // height: 310px;
      width: 250px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: var(--bg-color1);
      .details {
        display: flex;
        align-items: center;
        gap: 20px;
        .img {
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50%;
          background-color: white;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          color: white;
          font-size: 14px;
          margin-bottom: 0;
          text-align: center;
        }
      }
      .qr_code {
        display: flex;
        width: 100%;
        // height: 100%;
        padding: 10px;
        background-color: white;
        img {
          width: 100%;
          // height: 100%;
        }
      }
      p {
        color: white;
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
        a {
          color: white;
          text-decoration: none;
          font-size: 14px;
          // font-family: var(--font_bebas_neue);
          transition: all 0.2s ease-in-out;
        }
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }
  .nav-container {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .hero-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url("../../../assets/images/hero-bg.png") center/cover no-repeat;

    @media screen and (max-width: 1199px) {
      padding: 0 15px;
      min-height: 100dvh;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      min-height: fit-content;
    }

    .bg-hero-image {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 90vh;
      width: 50vw;
      background: url("../../../assets/images/hero-bg-mask-shapes.png")
        right/contain no-repeat;
      z-index: 1;

      @media screen and (max-width: 768px) {
        height: 80vh;
        width: 60vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @media screen and (max-width: 480px) {
        height: 90vh;
        width: 100vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .hero-content {
      width: 100%;
      margin-top: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      z-index: 2;

      @media screen and (max-width: 768px) {
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: clamp(2rem, 5vw, 4rem);
        margin: 2rem 0 1rem;
        font-weight: 700;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      .hero-content-desc {
        max-width: 600px;
        font-size: clamp(1rem, 2.5vw, 1.25rem);
        line-height: 1.5;
        margin-bottom: 1.5rem;

        @media screen and (max-width: 768px) {
          max-width: 90%;
          margin-bottom: 0rem !important;
        }
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;

        button {
          padding: 0.5rem 1rem;
          font-size: clamp(0.8rem, 2vw, 1rem);
          font-weight: 500;
          border-radius: 20px;
          width: fit-content;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
          }

          &:focus {
            outline: 2px solid var(--accent-color1);
          }
        }

        button:first-child {
          background-color: #7a7ccb;
          color: white;

          &:hover {
            background-color: #6a6bbd;
          }
        }

        button:nth-child(2) {
          background-color: white;
          color: var(--text-color2);

          &:hover {
            color: var(--text-color);
            background-color: #f7f7f7;
          }
        }
      }

      .social-links {
        margin: 2rem 0rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        @media screen and (max-width: 650px) {
          width: 100%;
          margin: 0 auto;
          margin: 2rem 0rem;
        }
      }

      .social-links-container {
        display: flex;
        gap: 0.5rem;
      }

      .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeIn 0.8s ease-out forwards;

        @media screen and (max-width: 1199px) and (min-width: 768px) {
          height: clamp(22px, 70vw, 24px);
          width: clamp(22px, 70vw, 24px);
        }
      }

      .social-link:nth-child(1) {
        animation-delay: 0.2s;
      }

      .social-link:nth-child(2) {
        animation-delay: 0.4s;
      }

      .social-link:nth-child(3) {
        animation-delay: 0.6s;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .social-icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .focus-container {
    // background: url("../../../assets/images/img_2.jpg") no-repeat center;
    background-color: var(--bg-color3);
    border-bottom: 20px solid rgba(#7a7ccb, 0.2) !important;
    // background-size: cover;
    .content {
      // backdrop-filter: blur(1px);
      padding: 0 60px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      position: relative;

      @media screen and (min-width: 650px) and (max-width: 768px) {
        width: 100%;
        height: 100% !important;
        padding: 8rem 3.75rem;
        align-items: center;
      }

      @media screen and (max-width: 650px) {
        width: 100%;
        height: auto;
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h2 {
        // font-family: var(--font_bebas_neue);
        width: 60%;
        font-size: 72px;
        color: var(--accent-color);
        text-align: left;
        @media screen and (min-width: 650px) and (max-width: 768px) {
          width: 100% !important;
          font-size: 54px;
          text-align: center;
        }

        @media screen and (max-width: 650px) {
          width: 90% !important;
          font-size: clamp(38px, 2vw, 54px);
        }
      }
      p {
        width: 85%;
        text-align: justify;
        font-weight: 300;
        color: var(--accent-color);
        font-size: 25px;
        @media screen and (max-width: 1200px) {
          font-size: 20px;
        }
        @media screen and (min-width: 650px) and (max-width: 768px) {
          text-align: center;
        }

        @media screen and (max-width: 650px) {
          width: 90% !important;
          font-size: 16px;
        }
        // color: white;
      }
      // .buttons {
      //   margin-top: 50px;
      //   display: flex;
      //   flex-wrap: wrap;
      //   justify-content: center;
      //   align-items: center;
      //   gap: 20px;
      //   button {
      //     background-color: var(--bg-color2);
      //     color: var(--white-color);
      //     padding: 10px;
      //     width: 250px;
      //     border: none;
      //     outline: none;
      //     cursor: pointer;
      //     transition: all 0.3s ease;
      //     box-shadow: 0 0 10px var(--accent-color1);
      //     // &:hover {
      //     //   background-color: var(--accent-color1);
      //     //   color: var(--text-color2);
      //     // }
      //   }
      // }
    }
  }
  .deliver-container {
    background-color: var(--bg-color3);
    border-bottom: 20px solid rgba(#7a7ccb, 0.2) !important;
    padding: 0 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // background: url("../../../assets/images/img_3.jpg") no-repeat center;
    // background-size: cover;
    gap: 2rem;
    position: relative;

    @media screen and (min-width: 650px) and (max-width: 768px) {
      width: 100% !important;
      height: 100% !important;
      padding: 8rem 3.75rem;
      align-items: center;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
      height: auto;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      // font-family: var(--font_bebas_neue);
      width: 82%;
      font-size: 72px;
      color: var(--accent-color);
      // color: var(--primary-color);
      text-align: left;
      @media screen and (min-width: 650px) and (max-width: 768px) {
        width: 100%;
        font-size: 54px;
        text-align: center;
      }
      @media screen and (max-width: 650px) {
        width: 90% !important;
        font-size: clamp(38px, 2vw, 54px);
      }
    }
    p {
      text-align: left;
      width: 85% !important;
      font-size: 25px;
      font-weight: 300;
      color: var(--accent-color);

      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      // color: white;
    }
    // .buttons {
    //   margin-top: 50px;
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 20px;
    //   button {
    //     background-color: var(--bg-color2);
    //     color: var(--white-color);
    //     padding: 10px;
    //     width: 250px;
    //     border: none;
    //     outline: none;
    //     cursor: pointer;
    //     transition: all 0.3s ease;
    //     box-shadow: 0 0 10px var(--accent-color1);
    //     // &:hover {
    //     //   background-color: var(--accent-color1);
    //     //   color: var(--text-color2);
    //     // }
    //   }
    // }
  }
  .quickest-container {
    background-color: var(--bg-color3);
    border-bottom: 20px solid rgba(#7a7ccb, 0.2) !important;
    padding: 0 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // background: url("../../../assets/images/img_4.jpg") no-repeat center;
    // background-size: cover;
    gap: 20px;
    position: relative;

    @media screen and (min-width: 650px) and (max-width: 768px) {
      width: 100% !important;
      height: 100% !important;
      padding: 8rem 3.75rem;
      align-items: center;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
      height: auto;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      // font-family: var(--font_bebas_neue);
      width: 75%;
      font-size: 72px;
      // color: var(--primary-color);
      text-align: left;

      @media screen and (min-width: 650px) and (max-width: 768px) {
        width: 100%;
        font-size: 54px !important;
        text-align: center;
      }
      @media screen and (max-width: 650px) {
        width: 90% !important;
        font-size: clamp(38px, 2vw, 54px);
      }
    }
    p {
      width: 90%;
      text-align: left;
      font-size: 25px;
      font-weight: 300;
      color: var(--accent-color);
      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      // color: white;
    }
    // .buttons {
    //   margin-top: 50px;
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 20px;
    //   button {
    //     background-color: var(--bg-color2);
    //     color: var(--white-color);
    //     padding: 10px;
    //     width: 250px;
    //     border: none;
    //     outline: none;
    //     cursor: pointer;
    //     transition: all 0.3s ease;
    //     box-shadow: 0 0 10px var(--accent-color1);
    //     // &:hover {
    //     //   background-color: var(--accent-color1);
    //     //   color: var(--text-color2);
    //     // }
    //   }
    // }
  }
  .cross-container {
    padding: 0 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--bg-color3);
    // background: url("../../../assets/images/img_5.jpg") no-repeat center;
    // background-size: cover;
    gap: 20px;
    position: relative;

    @media screen and (min-width: 650px) and (max-width: 768px) {
      width: 100% !important;
      height: 100% !important;
      padding: 8rem 3.75rem;
      align-items: center;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
      height: auto;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      // font-family: var(--font_bebas_neue);
      width: 80%;
      font-size: 72px;
      color: var(--accent-color);
      // color: var(--primary-color);
      // color: black;
      text-align: left;

      @media screen and (min-width: 650px) and (max-width: 768px) {
        width: 100%;
        font-size: 54px;
        text-align: center;
      }

      @media screen and (max-width: 650px) {
        width: 90% !important;
        font-size: clamp(38px, 2vw, 54px);
      }
    }
    p {
      width: 85%;
      text-align: left;
      font-size: 25px;
      font-weight: 300;
      color: var(--accent-color);
      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      // color: black;
    }
    // .buttons {
    //   margin-top: 50px;
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 20px;
    //   button {
    //     background-color: var(--bg-color2);
    //     color: var(--white-color);
    //     padding: 10px;
    //     width: 250px;
    //     border: none;
    //     outline: none;
    //     cursor: pointer;
    //     transition: all 0.3s ease;
    //     box-shadow: 0 0 10px var(--accent-color1);
    //     // &:hover {
    //     //   background-color: var(--accent-color1);
    //     //   color: var(--text-color2);
    //     // }
    //   }
    // }
  }
  .best-container {
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("../../../assets/images/img_6.jpg") no-repeat center;
    background-size: cover;

    gap: 20px;
    position: relative;

    @media screen and (max-width: 650px) {
      width: 100%;
      height: auto;
      padding: 4rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      // font-family: var(--font_bebas_neue);
      font-size: 40px;
      // color: var(--primary-color);
      text-align: center;
      // color: black;
      @media screen and (max-width: 650px) {
        font-size: 30px;
      }
    }
    p {
      max-width: 1000px;
      text-align: center;
      font-size: 25px;
      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      // color: black;
      // color: white;
    }
    .buttons {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      button {
        background-color: var(--bg-color2);
        color: var(--white-color);
        padding: 10px;
        width: 250px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px var(--accent-color1);
        // &:hover {
        //   background-color: var(--accent-color1);
        //   color: var(--text-color2);
        // }
      }
    }
  }
  .about-product-container {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    h2 {
      color: black;
      // font-family: var(--font_bebas_neue);
      font-size: 40px;
      span {
        color: var(--primary-color);
      }
    }
    .product-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .cards {
        width: 500px;
        height: auto;
        padding: 40px;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
        .top {
          display: flex;
          align-items: center;
          h3 {
            font-size: 20px;
            color: black;
            // font-family: var(--font_bebas_neue);
          }
          img {
            width: 50px;
            margin-right: 20px;
          }
        }
        .footer {
          button {
            background-color: black;
            outline: none;
            border: none;
            color: white;
            padding: 8px 30px;
          }
        }
      }
    }
  }
}

app-floating-arrow {
  cursor: pointer;
}
