/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

:root {
  --bg-color1: #2a4b6f;
  --bg-color2: #3b6392;
  --text-color1: #d3dbe3;
  --text-color2: #638cb7;
  --accent-color: #1b2636;
  --white-color: #ffffff;

  // declaring fonts via variables
  --font_bebas_neue: "Bebas Neue", sans-serif;
  --font_montserrat: "Montserrat", sans-serif;
  --font_popins: "Poppins", sans-serif;
  --font_mona_sans: "Mona-Sans", sans-serif;
}
.loader{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

@font-face {
  font-family: "Mona-Sans";
  src: url("assets/fonts/Mona-Sans.ttf") format("truetype");
}

// importing google fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



// common css
.float-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 15px;
    background-color: var(--bg-color1);
    text-align: center;
    color: white;
    padding: 10px 0;
  }
  .float-icons {
    color: #ffffff;
    top: calc(97% - 130px);
    left: calc(97% - 56px);
    position: fixed;
    z-index: 100;
    display: flex;
    gap: 15px;
    // gap: 10px;
    flex-direction: column;

    button {
      background: transparent;
      border: none;
      outline: none;
      padding: 0;
      img {
        width: 56px;
        height: 56px;
        // margin: 10px;
      }
      i {
        top: calc(97% - 140px);
        left: calc(97% - 56px);
        position: fixed;
        font-size: 56px;
        color: #fff;
      }
    }
    .whatsapp-popup {
      position: fixed;
      bottom: 160px;
      right: 40px;
      // height: 310px;
      width: 250px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: var(--bg-color1);
      .details {
        display: flex;
        align-items: center;
        gap: 20px;
        .img {
          width: 50px;
          height: 50px;
          padding: 10px;
          border-radius: 50%;
          background-color: black;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          color: white;
          font-size: 14px;
          margin-bottom: 0;
          text-align: center;
        }
      }
      .qr_code {
        display: flex;
        width: 100%;
        // height: 100%;
        padding: 10px;
        background-color: white;
        img {
          width: 100%;
          // height: 100%;
        }
      }
      p {
        color: white;
        font-size: 14px;
        margin-bottom: 0;
        text-align: center;
        a {
          color: white;
          text-decoration: none;
          font-size: 14px;
          // font-family: var(--font_bebas_neue);
          transition: all 0.2s ease-in-out;
        }
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }